* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/faded-office.png");
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #020202;
}

.hero {
  font-size: 2.3rem;
  width: 35%;
  margin-left: 5%;
  margin-top: 3%;
}

p {
  font-size: 0.9em;
  word-spacing: -1px;
  margin: 10px 0;
}

.underline {
  border-bottom: 5px solid #0ea5e9;
}

button {
  color: #ffff;
  background-color: #0ea5e9;
  padding: 20px 35px;
  margin-top: 25px;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 0.5em;
}
